In [1]:
import pandas as pd

In [1]:


# Paths to your CSV files
csv_file1 = r'F:\wenqu\DOE_Arctic_project\2021_statistic\leafwtAK2021_allsites.csv'
csv_file2 = r'F:\wenqu\DOE_Arctic_project\2021_statistic\plant_cover.csv'

# Read the CSV files into DataFrames
df1 = pd.read_csv(csv_file1)
df2 = pd.read_csv(csv_file2)

# Merge the DataFrames on 'site', 'quadrat', 'spp'
merged_df = pd.merge(df1, df2, on=['site', 'quadrat', 'spp'])

# Optional: Save the merged DataFrame to a new CSV file
merged_csv_file = r'F:\wenqu\DOE_Arctic_project\2021_statistic\merged_csv.csv'
merged_df.to_csv(merged_csv_file, index=False)

In [4]:
# Assuming df is your existing DataFrame
df = pd.read_csv(r'F:\wenqu\DOE_Arctic_project\2021_statistic\merged_csv.csv') # If you're reading from a CSV file
# Assuming df is your DataFrame
df['site_quadrat'] = df['site'].astype(str) + '_' + df['quadrat'].astype(str)
df

,site,quadrat,sla,la,LDMC,spp,cover,site_quadrat
0,S2A,7,111.9114169,17.350000,0.399570,rubcha,5.0,S2A_7
1,S2A,7,98.26589595,1.700000,0.443590,betnan,7.0,S2A_7
2,S2A,7,76.86703097,1.406667,0.503670,chacal,3.0,S2A_7
3,S2A,7,73.88362652,1.820000,0.610744,vaculi,11.0,S2A_7
4,S2A,7,46.81440443,0.563333,0.508451,vacvit,0.1,S2A_7
...,...,...,...,...,...,...,...,...
474,S1B,36,118.4782609,8.175000,0.413174,chacal,7.0,S1B_36
475,S1B,36,104.5079365,6.584000,0.422819,vaculi,4.0,S1B_36
476,S1B,36,62.61363636,2.755000,0.473118,rhotom,6.0,S1B_36
477,S1B,36,180.8378378,20.073000,0.449393,carex,4.0,S1B_36
478,S1B,36,78.65934066,7.158000,0.388889,erivag,12.0,S1B_36

In [5]:
rows, columns = df.shape

print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 479
Number of columns: 8

In [6]:
df.dropna(inplace=True)  # Drop rows with NaN
rows, columns = df.shape

print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 477
Number of columns: 8

In [7]:
print(df.columns)

Index(['site', 'quadrat', 'sla ', 'la', 'LDMC', 'spp', 'cover',
       'site_quadrat'],
      dtype='object')

In [8]:
column_data_type = df['sla '].dtype
column_data_type

dtype('O')

In [9]:
df['sla '] = df['sla '].astype(float)

In [10]:
# Compute the sum of 'cover' for each group and assign it to a new column
df['cover_sum'] = df.groupby(['site', 'quadrat'])['cover'].transform('sum')
df

,site,quadrat,sla,la,LDMC,spp,cover,site_quadrat,cover_sum
0,S2A,7,111.911417,17.350000,0.399570,rubcha,5.0,S2A_7,33.6
1,S2A,7,98.265896,1.700000,0.443590,betnan,7.0,S2A_7,33.6
2,S2A,7,76.867031,1.406667,0.503670,chacal,3.0,S2A_7,33.6
3,S2A,7,73.883627,1.820000,0.610744,vaculi,11.0,S2A_7,33.6
4,S2A,7,46.814404,0.563333,0.508451,vacvit,0.1,S2A_7,33.6
...,...,...,...,...,...,...,...,...,...
474,S1B,36,118.478261,8.175000,0.413174,chacal,7.0,S1B_36,117.0
475,S1B,36,104.507936,6.584000,0.422819,vaculi,4.0,S1B_36,117.0
476,S1B,36,62.613636,2.755000,0.473118,rhotom,6.0,S1B_36,117.0
477,S1B,36,180.837838,20.073000,0.449393,carex,4.0,S1B_36,117.0
478,S1B,36,78.659341,7.158000,0.388889,erivag,12.0,S1B_36,117.0

In [11]:
df['cover_ratio'] = df['cover'] / df['cover_sum']
df

,site,quadrat,sla,la,LDMC,spp,cover,site_quadrat,cover_sum,cover_ratio
0,S2A,7,111.911417,17.350000,0.399570,rubcha,5.0,S2A_7,33.6,0.148810
1,S2A,7,98.265896,1.700000,0.443590,betnan,7.0,S2A_7,33.6,0.208333
2,S2A,7,76.867031,1.406667,0.503670,chacal,3.0,S2A_7,33.6,0.089286
3,S2A,7,73.883627,1.820000,0.610744,vaculi,11.0,S2A_7,33.6,0.327381
4,S2A,7,46.814404,0.563333,0.508451,vacvit,0.1,S2A_7,33.6,0.002976
...,...,...,...,...,...,...,...,...,...,...
474,S1B,36,118.478261,8.175000,0.413174,chacal,7.0,S1B_36,117.0,0.059829
475,S1B,36,104.507936,6.584000,0.422819,vaculi,4.0,S1B_36,117.0,0.034188
476,S1B,36,62.613636,2.755000,0.473118,rhotom,6.0,S1B_36,117.0,0.051282
477,S1B,36,180.837838,20.073000,0.449393,carex,4.0,S1B_36,117.0,0.034188
478,S1B,36,78.659341,7.158000,0.388889,erivag,12.0,S1B_36,117.0,0.102564

In [13]:
df['sla_cover'] = df['sla '] * df['cover_ratio']
df['la_cover'] = df['la'] * df['cover_ratio']
df['LDMC_cover'] = df['LDMC'] * df['cover_ratio']
df.drop(['site', 'quadrat'], axis=1, inplace=True)
df

,sla,la,LDMC,spp,cover,site_quadrat,cover_sum,cover_ratio,sla_cover,la_cover,LDMC_cover
0,111.911417,17.350000,0.399570,rubcha,5.0,S2A_7,33.6,0.148810,16.653485,2.581845,0.059460
1,98.265896,1.700000,0.443590,betnan,7.0,S2A_7,33.6,0.208333,20.472062,0.354167,0.092415
2,76.867031,1.406667,0.503670,chacal,3.0,S2A_7,33.6,0.089286,6.863128,0.125595,0.044971
3,73.883627,1.820000,0.610744,vaculi,11.0,S2A_7,33.6,0.327381,24.188092,0.595833,0.199946
4,46.814404,0.563333,0.508451,vacvit,0.1,S2A_7,33.6,0.002976,0.139329,0.001677,0.001513
...,...,...,...,...,...,...,...,...,...,...,...
474,118.478261,8.175000,0.413174,chacal,7.0,S1B_36,117.0,0.059829,7.088443,0.489103,0.024720
475,104.507936,6.584000,0.422819,vaculi,4.0,S1B_36,117.0,0.034188,3.572921,0.225094,0.014455
476,62.613636,2.755000,0.473118,rhotom,6.0,S1B_36,117.0,0.051282,3.210956,0.141282,0.024262
477,180.837838,20.073000,0.449393,carex,4.0,S1B_36,117.0,0.034188,6.182490,0.686256,0.015364
478,78.659341,7.158000,0.388889,erivag,12.0,S1B_36,117.0,0.102564,8.067625,0.734154,0.039886

In [16]:
grouped_sla_cover_sum = df.groupby('site_quadrat')[['sla_cover', 'la_cover', 'LDMC_cover']].sum().reset_index()

# Rename the summed column for clarity
grouped_sla_cover_sum.rename(columns={'sla_cover': 'summed_sla_cover'}, inplace=True)

# Display the result
print(grouped_sla_cover_sum)

   site_quadrat  summed_sla_cover   la_cover  LDMC_cover
0         S1B_1        142.017256  16.964266    0.399141
1        S1B_10        137.317848  19.273836    0.378223
2        S1B_11        106.218469  21.611294    0.394541
3        S1B_12        108.293186  12.971441    0.454268
4        S1B_13         84.812357   7.419878    0.495914
..          ...               ...        ...         ...
75        S6A_5        109.347690  25.340909    0.381288
76        S6A_6        104.556561  11.192222    0.452294
77        S6A_7         78.206024  34.495242    1.154043
78        S6A_8         56.554927   5.672173    1.143294
79        S6A_9         80.045833   4.874442    0.520907

[80 rows x 4 columns]

In [18]:
# Assuming df is your DataFrame
grouped_sla_cover_sum.to_csv(r'F:\wenqu\DOE_Arctic_project\2021_statistic\grouped_sla_la_ldmc.csv', index=False)