In [1]:
import pandas as pd

In [2]:
# read specific columns of csv file using Pandas
df_plant_cover = pd.read_csv(r"F:\wenqu\DOE_Arctic_project\2022_data\Summer2022_abundance.csv", usecols = ['Site','Quadrat', 'species', 'abundance_per']).dropna()
df_plant_cover

    Site  Quadrat  species  abundance_per
0    S1B        1   betnan          15.00
1    S1B        1   salpul           9.00
2    S1B        1   equarv           0.50
3    S1B        1    carex           7.00
4    S1B        1    sphag           0.42
..   ...      ...      ...            ...
324  S1B       36   chacal           7.00
325  S1B       36   rubcha           4.00
326  S1B       36   rhotom           6.00
327  S1B       36   litter          20.00
328  S1B       36  st dead          18.00

[329 rows x 4 columns]

In [3]:
df_plant_cover["site_quadrant_species"] = df_plant_cover['Site'].astype(str) + '_' + df_plant_cover['Quadrat'].astype(int).astype(str) + '_' + df_plant_cover["species"]
df_plant_cover

    Site  Quadrat  species  abundance_per site_quadrant_species
0    S1B        1   betnan          15.00          S1B_1_betnan
1    S1B        1   salpul           9.00          S1B_1_salpul
2    S1B        1   equarv           0.50          S1B_1_equarv
3    S1B        1    carex           7.00           S1B_1_carex
4    S1B        1    sphag           0.42           S1B_1_sphag
..   ...      ...      ...            ...                   ...
324  S1B       36   chacal           7.00         S1B_36_chacal
325  S1B       36   rubcha           4.00         S1B_36_rubcha
326  S1B       36   rhotom           6.00         S1B_36_rhotom
327  S1B       36   litter          20.00         S1B_36_litter
328  S1B       36  st dead          18.00        S1B_36_st dead

[329 rows x 5 columns]

In [4]:
df_leaf = pd.read_csv(r"F:\wenqu\DOE_Arctic_project\2022_data\Summer2022_leaf.csv", usecols = ['Site','Quadrat', 'species', 'sla', 'la', 'ldmc']).dropna()
df_leaf

    Site  Quadrat species      ldmc      la          sla
0    S1B        1  salpul  0.335341  37.609  112.6017964
1    S1B        1  vaculi  0.460317   4.669          161
2    S1B        1  betnan  0.446970   8.944  151.5932203
3    S1B        1   carex  0.388535   9.688  158.8196721
4    S1B        1  piceae  0.200000    0.13          130
..   ...      ...     ...       ...     ...          ...
482  S3B       27  castet  0.479554   2.639  20.45736434
483  S3B       27  bisplu  0.235556  14.859  140.1792453
484  S3B       27  betgla  0.304965   6.833  158.9069767
485  S3B       27   carex  0.436860  20.232     158.0625
486  S3B       27  vaculi  0.421053   6.123     127.5625

[469 rows x 6 columns]

In [5]:
df_leaf["site_quadrant_species"] = df_leaf['Site'].astype(str) + '_' + df_leaf['Quadrat'].astype(int).astype(str) + '_' + df_leaf["species"]
df_leaf

    Site  Quadrat species      ldmc      la          sla site_quadrant_species
0    S1B        1  salpul  0.335341  37.609  112.6017964          S1B_1_salpul
1    S1B        1  vaculi  0.460317   4.669          161          S1B_1_vaculi
2    S1B        1  betnan  0.446970   8.944  151.5932203          S1B_1_betnan
3    S1B        1   carex  0.388535   9.688  158.8196721           S1B_1_carex
4    S1B        1  piceae  0.200000    0.13          130          S1B_1_piceae
..   ...      ...     ...       ...     ...          ...                   ...
482  S3B       27  castet  0.479554   2.639  20.45736434         S3B_27_castet
483  S3B       27  bisplu  0.235556  14.859  140.1792453         S3B_27_bisplu
484  S3B       27  betgla  0.304965   6.833  158.9069767         S3B_27_betgla
485  S3B       27   carex  0.436860  20.232     158.0625          S3B_27_carex
486  S3B       27  vaculi  0.421053   6.123     127.5625         S3B_27_vaculi

[469 rows x 7 columns]

In [6]:
df_combine = pd.merge(df_leaf, df_plant_cover, on ='site_quadrant_species')
df_combine

,Site_x,Quadrat_x,species_x,ldmc,la,sla,site_quadrant_species,Site_y,Quadrat_y,species_y,abundance_per
0,S1B,1,salpul,0.335341,37.609,112.6017964,S1B_1_salpul,S1B,1,salpul,9.0
1,S1B,1,vaculi,0.460317,4.669,161,S1B_1_vaculi,S1B,1,vaculi,0.5
2,S1B,1,betnan,0.446970,8.944,151.5932203,S1B_1_betnan,S1B,1,betnan,15.0
3,S1B,1,carex,0.388535,9.688,158.8196721,S1B_1_carex,S1B,1,carex,7.0
4,S1B,1,piceae,0.200000,0.13,130,S1B_1_piceae,S1B,1,piceae,0.5
...,...,...,...,...,...,...,...,...,...,...,...
208,S1B,36,carex,0.449393,20.073,180.8378378,S1B_36_carex,S1B,36,carex,4.0
209,S1B,36,erivag,0.388889,7.158,78.65934066,S1B_36_erivag,S1B,36,erivag,12.0
210,S1B,17,vacvit,0.458647,3.349,54.90163934,S1B_17_vacvit,S1B,17,vacvit,0.5
211,S1B,17,erivag,0.386503,19.451,154.3730159,S1B_17_erivag,S1B,17,erivag,82.0
212,S1B,17,rhotom,0.442478,1.38,27.6,S1B_17_rhotom,S1B,17,rhotom,3.0

In [7]:
df_combine["site_quadrant"] = df_combine['Site_x'].astype(str) + '_' + df_combine['Quadrat_x'].astype(int).astype(str) 
df_combine

,Site_x,Quadrat_x,species_x,ldmc,la,sla,site_quadrant_species,Site_y,Quadrat_y,species_y,abundance_per,site_quadrant
0,S1B,1,salpul,0.335341,37.609,112.6017964,S1B_1_salpul,S1B,1,salpul,9.0,S1B_1
1,S1B,1,vaculi,0.460317,4.669,161,S1B_1_vaculi,S1B,1,vaculi,0.5,S1B_1
2,S1B,1,betnan,0.446970,8.944,151.5932203,S1B_1_betnan,S1B,1,betnan,15.0,S1B_1
3,S1B,1,carex,0.388535,9.688,158.8196721,S1B_1_carex,S1B,1,carex,7.0,S1B_1
4,S1B,1,piceae,0.200000,0.13,130,S1B_1_piceae,S1B,1,piceae,0.5,S1B_1
...,...,...,...,...,...,...,...,...,...,...,...,...
208,S1B,36,carex,0.449393,20.073,180.8378378,S1B_36_carex,S1B,36,carex,4.0,S1B_36
209,S1B,36,erivag,0.388889,7.158,78.65934066,S1B_36_erivag,S1B,36,erivag,12.0,S1B_36
210,S1B,17,vacvit,0.458647,3.349,54.90163934,S1B_17_vacvit,S1B,17,vacvit,0.5,S1B_17
211,S1B,17,erivag,0.386503,19.451,154.3730159,S1B_17_erivag,S1B,17,erivag,82.0,S1B_17
212,S1B,17,rhotom,0.442478,1.38,27.6,S1B_17_rhotom,S1B,17,rhotom,3.0,S1B_17

In [8]:
df1 = df_combine.groupby(['Site_x','Quadrat_x'], as_index=False)['abundance_per'].sum()
df1["site_quadrant"] = df1['Site_x'].astype(str) + '_' + df1['Quadrat_x'].astype(int).astype(str) 
df1.rename(columns={'abundance_per': 'sum_cover'}, inplace=True)
df1

   Site_x  Quadrat_x  sum_cover site_quadrant
0     S1B          1       32.0         S1B_1
1     S1B          2       37.0         S1B_2
2     S1B          3       40.0         S1B_3
3     S1B          4       42.0         S1B_4
4     S1B          5      124.0         S1B_5
5     S1B          6       48.5         S1B_6
6     S1B          7       61.5         S1B_7
7     S1B          8       45.5         S1B_8
8     S1B          9       33.5         S1B_9
9     S1B         10       61.0        S1B_10
10    S1B         11       90.0        S1B_11
11    S1B         12       59.0        S1B_12
12    S1B         13       98.0        S1B_13
13    S1B         14       63.5        S1B_14
14    S1B         15       32.5        S1B_15
15    S1B         16       78.5        S1B_16
16    S1B         17       85.5        S1B_17
17    S1B         18       75.0        S1B_18
18    S1B         19       80.0        S1B_19
19    S1B         20       62.0        S1B_20
20    S1B         21       62.0        S1B_21
21    S1B         22       63.0        S1B_22
22    S1B         23       87.0        S1B_23
23    S1B         24      113.0        S1B_24
24    S1B         25       46.0        S1B_25
25    S1B         26       74.0        S1B_26
26    S1B         27       53.0        S1B_27
27    S1B         28       33.5        S1B_28
28    S1B         29       55.0        S1B_29
29    S1B         30       68.5        S1B_30
30    S1B         31      104.5        S1B_31
31    S1B         32      128.0        S1B_32
32    S1B         33       49.0        S1B_33
33    S1B         34      121.0        S1B_34
34    S1B         35      104.5        S1B_35
35    S1B         36      117.0        S1B_36

In [9]:
new_df = pd.merge(df_combine, df1,  how='left', left_on=['site_quadrant'], right_on = ['site_quadrant'])
new_df

,Site_x_x,Quadrat_x_x,species_x,ldmc,la,sla,site_quadrant_species,Site_y,Quadrat_y,species_y,abundance_per,site_quadrant,Site_x_y,Quadrat_x_y,sum_cover
0,S1B,1,salpul,0.335341,37.609,112.6017964,S1B_1_salpul,S1B,1,salpul,9.0,S1B_1,S1B,1,32.0
1,S1B,1,vaculi,0.460317,4.669,161,S1B_1_vaculi,S1B,1,vaculi,0.5,S1B_1,S1B,1,32.0
2,S1B,1,betnan,0.446970,8.944,151.5932203,S1B_1_betnan,S1B,1,betnan,15.0,S1B_1,S1B,1,32.0
3,S1B,1,carex,0.388535,9.688,158.8196721,S1B_1_carex,S1B,1,carex,7.0,S1B_1,S1B,1,32.0
4,S1B,1,piceae,0.200000,0.13,130,S1B_1_piceae,S1B,1,piceae,0.5,S1B_1,S1B,1,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,S1B,36,carex,0.449393,20.073,180.8378378,S1B_36_carex,S1B,36,carex,4.0,S1B_36,S1B,36,117.0
209,S1B,36,erivag,0.388889,7.158,78.65934066,S1B_36_erivag,S1B,36,erivag,12.0,S1B_36,S1B,36,117.0
210,S1B,17,vacvit,0.458647,3.349,54.90163934,S1B_17_vacvit,S1B,17,vacvit,0.5,S1B_17,S1B,17,85.5
211,S1B,17,erivag,0.386503,19.451,154.3730159,S1B_17_erivag,S1B,17,erivag,82.0,S1B_17,S1B,17,85.5
212,S1B,17,rhotom,0.442478,1.38,27.6,S1B_17_rhotom,S1B,17,rhotom,3.0,S1B_17,S1B,17,85.5

In [10]:
df = new_df[['site_quadrant', 'site_quadrant_species', 'sla', 'la', 'ldmc', 'abundance_per', 'sum_cover']]

df['percent_cover'] = df['abundance_per'] / df['sum_cover']
df

C:\Users\15086\AppData\Local\Temp\ipykernel_16240\60372339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_cover'] = df['abundance_per'] / df['sum_cover']

,site_quadrant,site_quadrant_species,sla,la,ldmc,abundance_per,sum_cover,percent_cover
0,S1B_1,S1B_1_salpul,112.6017964,37.609,0.335341,9.0,32.0,0.281250
1,S1B_1,S1B_1_vaculi,161,4.669,0.460317,0.5,32.0,0.015625
2,S1B_1,S1B_1_betnan,151.5932203,8.944,0.446970,15.0,32.0,0.468750
3,S1B_1,S1B_1_carex,158.8196721,9.688,0.388535,7.0,32.0,0.218750
4,S1B_1,S1B_1_piceae,130,0.13,0.200000,0.5,32.0,0.015625
...,...,...,...,...,...,...,...,...
208,S1B_36,S1B_36_carex,180.8378378,20.073,0.449393,4.0,117.0,0.034188
209,S1B_36,S1B_36_erivag,78.65934066,7.158,0.388889,12.0,117.0,0.102564
210,S1B_17,S1B_17_vacvit,54.90163934,3.349,0.458647,0.5,85.5,0.005848
211,S1B_17,S1B_17_erivag,154.3730159,19.451,0.386503,82.0,85.5,0.959064
212,S1B_17,S1B_17_rhotom,27.6,1.38,0.442478,3.0,85.5,0.035088

In [15]:
df['weighted_sla'] = df['sla'].astype(float) * df['percent_cover'].astype(float)
df['weighted_la'] = df['la'].astype(float) * df['percent_cover'].astype(float)
df['weighted_LDMC'] = df['ldmc'].astype(float) * df['percent_cover'].astype(float)
df

C:\Users\15086\AppData\Local\Temp\ipykernel_16240\1800667116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weighted_sla'] = df['sla'].astype(float) * df['percent_cover'].astype(float)
C:\Users\15086\AppData\Local\Temp\ipykernel_16240\1800667116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weighted_la'] = df['la'].astype(float) * df['percent_cover'].astype(float)
C:\Users\15086\AppData\Local\Temp\ipykernel_16240\1800667116.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weighted_LDMC'] = df['ldmc'].astype(float) * df['percent_cover'].astype(float)

,site_quadrant,site_quadrant_species,sla,la,ldmc,abundance_per,sum_cover,percent_cover,weighted_sla,weighted_la,weighted_LDMC
0,S1B_1,S1B_1_salpul,112.6017964,37.609,0.335341,9.0,32.0,0.281250,31.669255,10.577531,0.094315
1,S1B_1,S1B_1_vaculi,161,4.669,0.460317,0.5,32.0,0.015625,2.515625,0.072953,0.007192
2,S1B_1,S1B_1_betnan,151.5932203,8.944,0.446970,15.0,32.0,0.468750,71.059322,4.192500,0.209517
3,S1B_1,S1B_1_carex,158.8196721,9.688,0.388535,7.0,32.0,0.218750,34.741803,2.119250,0.084992
4,S1B_1,S1B_1_piceae,130,0.13,0.200000,0.5,32.0,0.015625,2.031250,0.002031,0.003125
...,...,...,...,...,...,...,...,...,...,...,...
208,S1B_36,S1B_36_carex,180.8378378,20.073,0.449393,4.0,117.0,0.034188,6.182490,0.686256,0.015364
209,S1B_36,S1B_36_erivag,78.65934066,7.158,0.388889,12.0,117.0,0.102564,8.067625,0.734154,0.039886
210,S1B_17,S1B_17_vacvit,54.90163934,3.349,0.458647,0.5,85.5,0.005848,0.321062,0.019585,0.002682
211,S1B_17,S1B_17_erivag,154.3730159,19.451,0.386503,82.0,85.5,0.959064,148.053653,18.654760,0.370681
212,S1B_17,S1B_17_rhotom,27.6,1.38,0.442478,3.0,85.5,0.035088,0.968421,0.048421,0.015526

In [16]:
df_final = df.groupby(['site_quadrant']).agg({'weighted_sla':'sum','weighted_la':'sum','weighted_LDMC':'sum'})
df_final

               weighted_sla  weighted_la  weighted_LDMC
site_quadrant
S1B_1            142.017256    16.964266       0.399141
S1B_10           137.317848    19.273836       0.378223
S1B_11           106.218469    21.611294       0.394541
S1B_12           108.293186    12.971441       0.454268
S1B_13            84.812357     7.419878       0.495914
S1B_14           128.988016    13.467315       0.428302
S1B_15           123.388481    21.105415       0.394001
S1B_16            91.227834    13.829013       0.454541
S1B_17           149.343136    18.722766       0.388889
S1B_18            94.637493    12.811080       0.394099
S1B_19            76.425667     7.354200       0.406444
S1B_2            118.391528    24.763514       0.354407
S1B_20            94.135562    11.366000       0.445734
S1B_21           109.088039     8.027806       0.459154
S1B_22            94.580416    13.014333       0.405659
S1B_23            89.053207     4.119655       0.445457
S1B_24           103.707786    56.208788       0.401110
S1B_25           119.400602     9.465587       0.384639
S1B_26           113.648635    10.907514       0.406575
S1B_27           135.725243    12.855792       0.409710
S1B_28           105.780067    10.568687       0.494030
S1B_29           108.138421     6.744800       0.425808
S1B_3            140.994191    14.001450       0.387021
S1B_30           133.118455    13.515526       0.376457
S1B_31            96.733214    14.657895       0.402516
S1B_32           105.255468    62.184906       0.395122
S1B_33           115.418739    13.407286       0.393614
S1B_34           116.778959    63.168975       0.397930
S1B_35           129.721189    67.324421       0.378817
S1B_36           118.334099    63.678590       0.394221
S1B_4            117.623158    11.232798       0.374089
S1B_5            148.571744    64.966500       0.329257
S1B_6            136.495044    22.082031       0.373700
S1B_7            145.598416    16.359024       0.394278
S1B_8            127.170916    31.948560       0.332152
S1B_9            114.388296     9.702910       0.415378

In [17]:
df_final.to_csv(r'F:\wenqu\DOE_Arctic_project\2022_data_statistics\site1b_weighted_leaf.csv')