In [1]:
import pandas as pd

In [2]:
# read specific columns of csv file using Pandas
df_plant_cover = pd.read_csv(r"F:\wenqu\DOE_Arctic_project\Cover_and_chemistry_union_2021_2022.csv", usecols = ['site_quadrant', 'site_quadrant_species', 'cov1', 'pC', 'd13C', 'pN', 'd15N']).dropna()
df_plant_cover

,cov1,site_quadrant,site_quadrant_species,pC,d13C,pN,d15N
0,0.5,S1B1,S1B1picmar,47.312848,-30.181741,0.971542,-3.129451
1,0.5,S1B1,S1B1vaculi,48.417664,-28.748481,1.772836,-3.021100
2,7.0,S1B1,S1B1carex,43.704595,-27.405550,1.338019,0.760663
3,9.0,S1B1,S1B1salpul,40.196582,-28.932615,1.791477,-3.112236
4,10.0,S1B1,S1B1sphag,36.737064,-29.159218,1.569307,-0.373340
...,...,...,...,...,...,...,...
571,18.0,S6A9,S6A9lichen,40.701680,-22.421328,0.888030,-5.597820
572,18.0,S6A9,S6A9lichen,41.186653,-23.943140,0.979088,-7.978502
573,21.0,S6A9,S6A9castet,51.986000,-26.399954,1.087097,-4.965414
574,50.0,S6A9,S6A9sphag,38.891398,-28.947780,0.559319,0.697772
575,50.0,S6A9,S6A9sphag,40.957756,-30.425807,0.635261,-0.777024

In [4]:
df_averages = df_plant_cover.groupby('site_quadrant_species', as_index=False).agg({'pC': 'mean', 'd13C': 'mean', 'pN': 'mean', 'd15N': 'mean', 'cov1': 'mean', 'site_quadrant': 'first'})
print(df_averages)

    site_quadrant_species         pC       d13C        pN      d15N  cov1  \
0             S1B10betgla  45.845622 -28.217568  2.325520 -0.138914   8.0
1              S1B10carex  43.449498 -29.020897  2.154033  1.387285  24.0
2           S1B10nonsphag  22.703751 -26.298541  1.083422  3.098520  22.0
3             S1B10salpul  45.928837 -29.768178  1.923214  2.016368  26.0
4             S1B10vaculi  45.205082 -31.447756  1.576143 -0.259610   3.0
..                    ...        ...        ...       ...       ...   ...
546            S6A9dryint  49.170575 -27.475466  1.473618 -2.634052  14.0
547            S6A9erivag  45.776859 -27.688141  2.142305  4.581354  11.0
548            S6A9lichen  40.944166 -23.182234  0.933559 -6.788161  18.0
549            S6A9polbis  43.528314 -26.348785  2.685384 -0.725650   2.0
550             S6A9sphag  39.924577 -29.686793  0.597290 -0.039626  50.0

    site_quadrant
0           S1B10
1           S1B10
2           S1B10
3           S1B10
4           S1B10
..            ...
546          S6A9
547          S6A9
548          S6A9
549          S6A9
550          S6A9

[551 rows x 7 columns]

In [5]:
# Count the number of unique items in 'Column'
unique_count = df_averages['site_quadrant'].nunique()

print("Number of unique items:", unique_count)

Number of unique items: 83

In [6]:
df1 = df_averages.groupby(['site_quadrant'], as_index=False)['cov1'].sum()
df1.rename(columns={'cov1': 'sum_cover'}, inplace=True)
# df1["site_quadrant"] = df1['Site'].astype(str) + '_' + df1['quadrat'].astype(int).astype(str)
df1

   site_quadrant  sum_cover
0           S1B1       42.0
1          S1B10       83.0
2          S1B11       17.0
3          S1B12       59.0
4          S1B13       98.0
..           ...        ...
78          S6A5       66.0
79          S6A6       59.0
80          S6A7       55.6
81          S6A8      113.1
82          S6A9      120.0

[83 rows x 2 columns]

In [7]:
df_combine = pd.merge(df_averages, df1, on ='site_quadrant')
df_combine

,site_quadrant_species,pC,d13C,pN,d15N,cov1,site_quadrant,sum_cover
0,S1B10betgla,45.845622,-28.217568,2.325520,-0.138914,8.0,S1B10,83.0
1,S1B10carex,43.449498,-29.020897,2.154033,1.387285,24.0,S1B10,83.0
2,S1B10nonsphag,22.703751,-26.298541,1.083422,3.098520,22.0,S1B10,83.0
3,S1B10salpul,45.928837,-29.768178,1.923214,2.016368,26.0,S1B10,83.0
4,S1B10vaculi,45.205082,-31.447756,1.576143,-0.259610,3.0,S1B10,83.0
...,...,...,...,...,...,...,...,...
546,S6A9dryint,49.170575,-27.475466,1.473618,-2.634052,14.0,S6A9,120.0
547,S6A9erivag,45.776859,-27.688141,2.142305,4.581354,11.0,S6A9,120.0
548,S6A9lichen,40.944166,-23.182234,0.933559,-6.788161,18.0,S6A9,120.0
549,S6A9polbis,43.528314,-26.348785,2.685384,-0.725650,2.0,S6A9,120.0
550,S6A9sphag,39.924577,-29.686793,0.597290,-0.039626,50.0,S6A9,120.0

In [8]:
# df = df_combine[['site_quadrant', 'site_quadrant_species', 'sla', 'la', 'LDMC', 'cover', 'sum_cover']]

df_combine['percent_cover'] = df_combine['cov1'] / df_combine['sum_cover']
df_combine

,site_quadrant_species,pC,d13C,pN,d15N,cov1,site_quadrant,sum_cover,percent_cover
0,S1B10betgla,45.845622,-28.217568,2.325520,-0.138914,8.0,S1B10,83.0,0.096386
1,S1B10carex,43.449498,-29.020897,2.154033,1.387285,24.0,S1B10,83.0,0.289157
2,S1B10nonsphag,22.703751,-26.298541,1.083422,3.098520,22.0,S1B10,83.0,0.265060
3,S1B10salpul,45.928837,-29.768178,1.923214,2.016368,26.0,S1B10,83.0,0.313253
4,S1B10vaculi,45.205082,-31.447756,1.576143,-0.259610,3.0,S1B10,83.0,0.036145
...,...,...,...,...,...,...,...,...,...
546,S6A9dryint,49.170575,-27.475466,1.473618,-2.634052,14.0,S6A9,120.0,0.116667
547,S6A9erivag,45.776859,-27.688141,2.142305,4.581354,11.0,S6A9,120.0,0.091667
548,S6A9lichen,40.944166,-23.182234,0.933559,-6.788161,18.0,S6A9,120.0,0.150000
549,S6A9polbis,43.528314,-26.348785,2.685384,-0.725650,2.0,S6A9,120.0,0.016667
550,S6A9sphag,39.924577,-29.686793,0.597290,-0.039626,50.0,S6A9,120.0,0.416667

In [9]:
df_combine['weighted_pc'] = df_combine['pC'].astype(float) * df_combine['percent_cover'].astype(float)
df_combine['weighted_d13c'] = df_combine['d13C'].astype(float) * df_combine['percent_cover'].astype(float)
df_combine['weighted_pn'] = df_combine['pN'].astype(float) * df_combine['percent_cover'].astype(float)
df_combine['weighted_d15n'] = df_combine['d15N'].astype(float) * df_combine['percent_cover'].astype(float)
df_combine

,site_quadrant_species,pC,d13C,pN,d15N,cov1,site_quadrant,sum_cover,percent_cover,weighted_pc,weighted_d13c,weighted_pn,weighted_d15n
0,S1B10betgla,45.845622,-28.217568,2.325520,-0.138914,8.0,S1B10,83.0,0.096386,4.418855,-2.719766,0.224147,-0.013389
1,S1B10carex,43.449498,-29.020897,2.154033,1.387285,24.0,S1B10,83.0,0.289157,12.563710,-8.391585,0.622853,0.401143
2,S1B10nonsphag,22.703751,-26.298541,1.083422,3.098520,22.0,S1B10,83.0,0.265060,6.017862,-6.970698,0.287172,0.821295
3,S1B10salpul,45.928837,-29.768178,1.923214,2.016368,26.0,S1B10,83.0,0.313253,14.387347,-9.324971,0.602453,0.631633
4,S1B10vaculi,45.205082,-31.447756,1.576143,-0.259610,3.0,S1B10,83.0,0.036145,1.633919,-1.136666,0.056969,-0.009384
...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,S6A9dryint,49.170575,-27.475466,1.473618,-2.634052,14.0,S6A9,120.0,0.116667,5.736567,-3.205471,0.171922,-0.307306
547,S6A9erivag,45.776859,-27.688141,2.142305,4.581354,11.0,S6A9,120.0,0.091667,4.196212,-2.538080,0.196378,0.419957
548,S6A9lichen,40.944166,-23.182234,0.933559,-6.788161,18.0,S6A9,120.0,0.150000,6.141625,-3.477335,0.140034,-1.018224
549,S6A9polbis,43.528314,-26.348785,2.685384,-0.725650,2.0,S6A9,120.0,0.016667,0.725472,-0.439146,0.044756,-0.012094
550,S6A9sphag,39.924577,-29.686793,0.597290,-0.039626,50.0,S6A9,120.0,0.416667,16.635240,-12.369497,0.248871,-0.016511

In [10]:
df_final = df_combine.groupby(['site_quadrant']).agg({'weighted_pc':'sum','weighted_d13c':'sum','weighted_pn':'sum', 'weighted_d15n':'sum'})
df_final

               weighted_pc  weighted_d13c  weighted_pn  weighted_d15n
site_quadrant
S1B1             43.312469     -28.492351     1.599822      -2.674121
S1B10            39.021692     -28.543685     1.793593       1.831298
S1B11            28.722149     -26.496804     1.220057       2.088882
S1B12            49.725402     -27.295808     1.669954      -1.259432
S1B13            47.488080     -27.345754     1.376116      -0.924588
...                    ...            ...          ...            ...
S6A5             44.224496     -25.363508     1.586383       4.010341
S6A6             44.540391     -27.258837     1.788022       0.446420
S6A7             46.897315     -24.502867     1.981114       2.275337
S6A8             46.424599     -28.257001     1.683267      -1.987239
S6A9             44.022145     -27.506124     1.066788      -1.670330

[83 rows x 4 columns]

In [11]:
df_final.to_csv(r'F:\wenqu\DOE_Arctic_project\cover_and_chemistry.csv')